/* le menu de navigation */
header,  footer{
    padding: 1vh;
    background-color: lightgray;
    margin: 2vh;
}

h1, h2{
    color: blue;
    text-align: center;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

li{    
    flex-basis: 100vw;
    flex-grow: 1;
}

#presentation{
    display: flex;
    flex-wrap: nowrap;
}

main article{
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
}

footer img{
    height: 1rem;
}

article > img{
    height: 15vh;
    width: 10vw;
}

main > section > img{
    height: 60vh;
    margin-left: 20vw;
    margin-right: 20vw;

}

a:active{
    background-color: white;
}

a:hover{
    background-color: white;
}