body{
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav{
    flex-basis: 100%;
}

nav ul li{
    flex-grow: 1;
    flex-basis: 20px;
}

header{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}


main{

    display: flex;
    flex-wrap: wrap;
}

main > h2{
    flex-basis: 100%;
}

main > section{
    flex-basis: 65%;
    flex-grow: 1;
    display : flex;
    flex-wrap: wrap;

}

main > section > section{
    flex-basis: 45%;
    flex-grow: 0;
    padding: 15px;
    margin: 10px;
}


aside {
    flex-grow: 1;
    height: fit-content;
    width: 10vw;
}

aside img{
    width: 250px;
}


footer{
    flex-grow: 1;
    flex-basis: 100%;
    padding: 10px;
}

footer img{
    height: 1em;
}