/* Règles générales */

section > section  {
    background-color: lightblue;
}

nav, header  {
    background-color: lightgray;
}

nav ul{
    list-style: none;
}

footer{
    background-color: lightgray;
}

h1, h2, h3{
    color: darkblue;
}

a:hover{
    background-color: white;
}